*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: left;
    text-align: center;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}
.video{
    padding: 0 400px;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
p{
    line-height: 30px;
    font-size: 16px;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header::before{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.1);
    backdrop-filter: blur(50px);
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}
.header::after{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,.4), 
    transparent);
    transition: .5s;
}
.header:hover::after{
    left: 100%;
}
.logo{
    font-size: 2rem;
    color: rgb(212, 206, 196);
    text-decoration: none;
    font-weight: 700;
    transition: 0.3s ease;
}
.logo:hover{
    color: #fff;
    transition: 0.3s ease;
}
#check{
    display: none;
}
.navbar a{
    position: relative;
    font-size: 1.20rem;
    text-decoration: none;
    font-weight: 500;
    color: rgb(212, 206, 196);
    margin-left: 3rem;
    padding: 0px 6px;
    transition: ease 0.3s;
}
.navbar a::after{
    content: "";
    position: absolute;
    background-color: rgb(0, 204, 116);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -8px;
    transition: 0.3s ease;
}
.navbar a:hover{
    color: #fff;
}
.navbar a:hover::after{
    transition: 0.3s;
    width: 100%;
}
.about-area, .gallery-area, .services-area, .contact-area{
    display: flex;
    position: relative;
    height: 500px;
    width: 100%;
    justify-content: space-around;
}
.about-area{
    background-color: rgb(94, 130, 106);
}
.Fall{
    width: 20rem;
    height: 20rem;
    float: right;
    display: block;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
.Fall:hover{
    box-shadow: 0 0 8px 4px rgb(0, 204, 116);
}
.gallery-area{
    background-color: rgb(86, 118, 96);
    
}
.services-area{
    background-color: rgb(77, 106, 86);
}
.contact-area{
    height: 850px;
    background-color: rgb(69, 95, 77);
}
.text{
    width: 100%;
    margin: 20px 20px;
    color: rgb(212, 206, 196);
    transition: 0.3s ease;
}
.text:hover{
    color: #fff;
    transition: 0.3s ease;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 78px;
}
.logo:hover{
    cursor: default;
}
.icons{
    font-size: 2.8rem;
    color: rgb(212, 206, 196);
    cursor: pointer;
    display: none;
}
.icons:hover{
    color: #fff;
    transition: 0.3s ease;
}
@media (max-width: 975px){
    .header{
        padding: 1.3rem 2%;
    }
}
@media (max-width: 824px){
    .icons #exit{
        display: none;
    }
    #check:checked~.icons #exit{
        display: block;
    }
    #check:checked~.icons #menu{
        display: none;
    }
    .icons{
        display: inline-flex;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        backdrop-filter: blur(50px);
        background: rgba(0,0,0,.1);
        transition: ease 0.3s;
        overflow: hidden;
    }
    #check:checked~.navbar{
        height: 17rem;
    }
    .navbar a{
        display: block;
        color: #fff;
        margin: 1.7rem 0;
        text-align: center;
        font-size: 1.1rem;
        transform: translateY(-50px);
        opacity: 0;
        transition: 0.3s ease;
    }
    .navbar a:hover::after{
        width: 0;
    }
    #check:checked~.navbar a{
        transform: translateY(0);
        transition-delay: calc(.20s * var(--i));
        opacity: 1;
    }
}